extends layout
block content
	div.jumbotron
		h1= title
		p.lead
		
			P.imglg: img(src="/img/a1.jpg", alt="Logo")
			
			August Horch (1868-1951), uno de los pioneros de la industria automovilistica alemana, 
			fundo en Colonia (Alemania), la empresa de autos Horch en 1899, cuyo primer automovil 
			comenzo a circular por vias publicas en 1901.
			P.imglg: img(src="/img/a2.jpg", alt="Logo")
			
			Despues de algunas dificultades financieras y desavenencias internas, decidio abandonar 
			la compañia para crear una nueva fabrica de automoviles. Asi nacio de «August Horch & Cie.
			P.imglg: img(src="/img/a3.jpg", alt="Logo")
			
			la traduccion al latin del vocablo aleman horch, que en español significa oye escucha.
			P.imglg: img(src="/img/a4.jpg", alt="Logo")
			La compañia tiene su sede central en Ingolstadt, en el Estado federado de Baviera en Alemania. 
			En la actualidad audi sigue con su filosofia de a la vanguardia de la tecnica e implanta todo 
			su conocimiento adquiridos en sus autos

			P.imglg: img(src="/img/a5.jpg", alt="Logo")
			
			
			
			P.imglg: img(src="/img/car.jpg", alt="Logo",)