extends layout
block content
	div.jumbotron
		h1= title
		p.lead
		
			P.imglg: img(src="/img/audi.jpg", alt="Logo")
			Un nuevo modelo de Audi el cual está asentando 
			cabeza – Para quienes están un poco al tanto,
			hace poco tiempo que tenemos con nosotros al nuevo modelo,
			el Audi A1, coche deportivo de la marca alemana que realmente
			está siendo bastante bien recibido y ya se ve en las calles en ocasiones,
			siendo quizás el competidos de por ejemplo la línea MINI.
			
			
			P.imglg: img(src="/img/car.jpg", alt="Logo", height=500, width=600)
			P.imglg: img(src="/img/in1.jpg", alt="Logo", height=500, width=600)
			P.imglg: img(src="/img/in2.jpg", alt="Logo", height=500, width=600)