extends layout
block content
	div.jumbotron
		h1= title
		p.lead
			
		P.imglg: img(src="/img/1.jpg", alt="Logo")
			
		Con mejor comodidad y con un mejor ambiente
			
		P.imglg: img(src="/img/2.jpg", alt="Logo")
			
		BMW i8 Concept.
			
		El vehiculo deportivo del futuro.

		El BMW i8 Concept con eDrive 
		es un icono de progreso que combina el rendimiento energetico de un 
		coche deportivo con una eficiencia que se ha convertido en un referente.
			
		P.imglg: img(src="/img/3.jpg", alt="Logo")
			
			
		Su aceleracion de 0 a 100 km/h en menos de cinco segundos en combinacion 
		con un consumo de combustible en ciclo europeo de 2,7 litros por 100 kilometros, 
		son datos que actualmente no alcanza ningun vehiculo con motor de combustion 
		con un rendimiento comparable. Gracias a la tecnologia eDrive con sus grandes 
		baterias de iones de litio, que se pueden cargar en cualquier toma de corriente casera, 
		el BMW i8 Concept recorre mas de 35 kilometros solo con energia electrica. 
		Ademas, con sus 2+2 plazas ofrece espacio suficiente para cuatro personas, 
		por lo que es muy practico en la rutina cotidiana.
			
		la mejor comodidad y la mejor estavilidad
			
		P.imglg: img(src="/img/4.jpg", alt="Logo")
			
		la mejor seguridad
			
		P.imglg: img(src="/img/5.jpg", alt="Logo")