extends layout
block content
	div.jumbotron
		h1= title
		p.lead
		
			P.imglg: img(src="/img/a.jpg", alt="Logo")
			Ferrari es un fabricante de automoviles superdeportivos con sede en Maranello (Italia). 
			Fue fundada en 1929 por Enzo Ferrari como Scuderia Ferrari, 
			construyendo automoviles de competicion y mas tarde, en 1947, tambien paso a fabricar autos deportivos.
			
			P.imglg: img(src="/img/b.jpg", alt="Logo")
			Originalmente, la Scuderia Ferrari patrocinaba a pilotos y automoviles de Alfa Romeo y Fiat. 
			La compa単ia comenzo a producir automoviles en serie en el a単o 1947
			
			P.imglg: img(src="/img/c.jpg", alt="Logo")
			
			Se convirtio en Ferrari S.A. cuando en el a単o 1969 Fiat Group entro a ser parte del 
			Consejo de Administracion y se hizo accionista de la empresa
			
			P.imglg: img(src="/img/d.jpg", alt="Logo")
			Actualmente el principal accionista es Fiat Group, con el 90%, un 5% de las acciones ha sido comprado, en 2005, 
			por una compa単ia de los EAU, y el resto pertenece a Piero Ferrari
			P.imglg: img(src="/img/e.jpg", alt="Logo")
			
			