extends layout
block content
	div.jumbotron
		h1= title
		p.lead
		
			P.imglg: img(src="/img/h1.jpg", alt="Logo")
			
			Uno de los puntos fuertes de Honda y su principal factor 
			de diferenciacion respecto a otras empresas automovilisticas 
			es la investigacion y desarrollo de tecnologias que permitan 
			alcanzar la llamada movilidad sostenible, estrategia que comenzo hace ya mas de 30 años
			
			P.imglg: img(src="/img/h2.jpg", alt="Logo")
			
			Hoy en dia, la compañia esta centrada en impulsar los vehiculos hibridos, ya que considera 
			que esta tecnologia es actualmente la mas eficaz para reducir las emisiones contaminantes 
			y una de las pocas ya disponibles y accesibles de forma masiva en el mercado.
			
			P.imglg: img(src="/img/h3.jpg", alt="Logo")
			Honda cree que los híbridos son el paso intermedio logico hacia tecnologias completamente limpias.
			
			P.imglg: img(src="/img/h4.jpg", alt="Logo")
			Con este objetivo, Honda lanzó en febrero de 2009 el nuevo Insight, el último híbrido de su gama, 
			heredero del Insight original (1999), que fue el primer híbrido comercializado en Estados Unidos y en Europa. 
			P.imglg: img(src="/img/h5.jpg", alt="Logo")
		
			