div.masthead
	P.imglg: img(src="/img/dep.jpg", alt="Logo")
	h3.muted AUTOS DEPORTIVOS
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href='/autos') Autos
					li: a(href='/bmw') BMW
					li: a(href='/ferrary') FERRARY
					li: a(href='/audi') AUDI
					li: a(href='/honda') HONDA